@model IEnumerable<Deep_Sales.Models.Product>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Index";
}

<p class="float-right">
    <a class="badge badge-pill badge-success" asp-action="Create">Add Product</a>
</p>

<table class="table table-borderless" id="ProductTable">
    <thead id="ProductHeader">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img class="img-raised rounded-circle" width="200" height="200" src="@Url.Content(item.ImagePath)" />
                </td>

                @{ if (UserManager.GetUserAsync(User).Result.Id == item.UserId)
                    {
                        <td>
                            <a class="badge badge-pill badge-primary" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                            <a class="badge badge-pill badge-primary" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                            <a class="badge badge-pill badge-rose" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="badge badge-pill badge-primary" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
